global
        log 127.0.0.1 local0 notice
        maxconn 2000
        user haproxy
        group haproxy

defaults
        log global
        mode http
        option httplog
        option dontlognull
        retries 3
        option redispatch
        timeout connect 5000
        timeout client 10000
        timeout server 10000

frontend et_kubernetes_insecure
        mode http
        bind *:80
        redirect scheme https code 301 if !{ ssl_fc }

frontend et_kubernetes_secure
        mode tcp
        bind *:443
        option forwardfor
        default_backend kubernetes

backend kubernetes
        mode tcp
        balance roundrobin
        option tcplog

        server worker1 {ip_address}:32443 check send-proxy
        server worker2 {ip_address}:32443 check send-proxy
        server worker3 {ip_address}:32443 check send-proxy




